/* ==========================================================================
    CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

ul { list-style: none; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* ==========================================================================
    Body
   ========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

input { outline: none; }
select { outline: none; }

h3 {
  color:  #0e0e0e;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

/* ==========================================================================
    Header
   ========================================================================== */
header .logo {
  box-sizing: border-box;
  padding: 25px 3% 25px 1.5%;
}

header .logo a { display: block; }
.head-info { padding: 1%; }

.john-img {
  width: 18%;
  margin-right: 1%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}

.john-info {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

.total ,
#play,
#datetimepicker1 {
  display: inline-block;
  vertical-align: middle;
}

.total { width: 45%; }

.john-info h3 ,
.total h3 {
 font-size: 16px;
 font-weight: 600;
}

.john-info span ,
.total span {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.john-info p ,
.total p { font-size: 11px; }

#play,
#save-date  {
  width: 100px;
  height: 35px;
  margin-left: 5px;
  background-color: #ce000c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
}

#save-date {
  display: block;
  background-color: #4c4c4c;
  line-height: 22px;
}

.print a {
  color: #000;
  padding: 0 4%;
  font-size: 13px;
  line-height: 56px;
  text-decoration: none;
  text-transform: uppercase;
}

.print a:first-child {
  padding-right: 5%;
  border-right: 1px solid #000;
}
.print a:hover { color: #3f7ee1; }

/* ==========================================================================
    Aside
   ========================================================================== */
aside {
  height: 100vh;
  padding-top: 2%;
  background-color: #272726;
}

nav ul { list-style: none; }

nav ul li {
  padding: 1% 0%;
  display: block;
}

nav ul li a {
  padding: 2% 9%;
  color: #8c8787;
  display: block;
  font-size: 13px;
  text-decoration: none;
  text-transform: capitalize;
}

nav ul li a:hover,
nav ul li a.active { color: #fff; }
nav li .fa { margin-right: 2%; }

.live {
  padding: 20px;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1a1a1a;
  text-align: center;
}

.live a {
  color: #fff;
  display: block;
  text-decoration: none;
}

/* ==========================================================================
    Main Content
   ========================================================================== */
/* ========= Dashboard Page ======================*/
main h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e9ec;
  margin-bottom: 10px;
}

.usage-details > .row > div {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 2.5%;
  background-color: #fff;
}

.usage-details > .row:first-child > div:first-child {
  width: 36%;
  margin-bottom: 15px;
}

.electricity-usage > div { position: relative; }

.electricity-usage > div span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 15px;
  font-weight: 700;
}

.days-left .details span { font-weight: 700; }

.days-left .details a {
  padding: 5px 10px;
  background-color: #4c4c4c;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
}

.usage-graph {
  width: 97%;
  margin-bottom: 15px;
}

#month { float: right; }

#chartJSContainer { height: 225px!important; }

.forecast-vs-usage {
  padding: 3%;
  padding-bottom: 30px;
  background-color: #fff;
}

.forecast-vs-usage div {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  padding-left: 7%;
}

.forecast-vs-usage h3 + div { border-right: 1px solid #ce000c; }

.forecast-vs-usage div span {
  display: block;
  color: #ce000c;
  font-size: 11px;
  font-weight: 600;
  text-transform: capitalize;
}

.forecast-vs-usage h3 { margin-bottom: 30px; }

.forecast-vs-usage div span:last-child {
  font-size: 30px;
  font-weight: 400;
}

.forecast-vs-usage .message {
  width: 100%;
  padding: 5px 5% 5px 10%;
  border: 1px solid #70c1b3;
  margin-top: 20px;
  position: relative;
}

.message .fa-lightbulb-o {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: -15px;
  background-color: #70c1b3;
  color: #fff;
  font-size: 19px;
  text-align: center;
}

.forecast-vs-usage + div {
  padding-bottom: 27px;
  background-color: #fafafa;
}

.weeks {
  width: 100%;
  margin-top: 30px;
}

.weeks tr {
  border-top: 1px solid #e5e9ec;
  border-bottom: 1px solid #e5e9ec;
}

.weeks td {
  height: 25px;
  padding-top: 2px;
  color: #444;
  font-size: 11px;
}

.weeks td:first-child { color: #1b1e24; }
.weeks td:last-child { font-weight: 700; }
.weeks td img { width: 60%; }

.weeks td span {
  color: #ce000c;
  font-weight: 700;
}

.row2 > div {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  background-color: #fff;
}

.row2 > div:last-child {
  padding-bottom: 60px;
  background-color: #247ba0;
}

.row2 > div:last-child h3 { color: #fff; }

h4 {
  color: #0e0e0e;
  font-size: 11px;
  font-weight: 700;
}

li p a,
.help li a {
  margin-bottom: 5px;
  display: block;
  color: #444;
  font-size: 11px;
}

.help li a { color: #fff; }
li p a .fa-toggle-on,
li p a .fa-toggle-off { float: right;  }


.saving-details > div {
  min-height: 185px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 1.5%;
  position: relative;
  background-color: #fff;
}

.saving-details div:last-child { width: 44%; }

.saving-details p {
  font-size: 11px;
  font-weight: 400;
  line-height: 17px;
}

.saving-details p + p { margin-top: 20px; }
.saving-details p span {
  font-size: 15px;
  font-weight: 700;
}

.saving-details .fa-lightbulb-o {
  position: absolute;
  top: 85px;
  right: 20px;
  color: rgba(19, 19, 19, 0.4);
  font-size: 70px;
}

.saving-details .total { width: 100%; }

.saving-details .total p,
.saving-details .total input {
  display: inline-block;
}

.saving-details .form-group {
  width: 80%;
  margin-bottom: 0;
  float: left;
}

.saving-details .form-group p {
  padding-right: 5px;
  text-align: right;
  text-transform: capitalize;
}

.saving-details .form-group p span {
  color: #cd0007;
  font-size: 11px;
}

.saving-details .form-group input {
  box-sizing: border-box;
  width: 100%;
  height: 37px;
  padding: 10px;
  border: 1px solid #969696;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 11px;
}

.saving-details form div:last-child {
  width: 20%;
  margin-top: 45px;
  float: right;
}

.saving-details form div:last-child input {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  background-color: #4c4c4c;
  border: none;
  color: #fff;
  font-size: 11px;
}

.progress {
  width: 80%;
  height: 5px;
  margin-top: 5px;
}

@-webkit-keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 78%;
  }
}
@-moz-keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 78%;
  }
}
@-o-keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 78%;
  }
}

.progress-bar {
  color: white;
  font: 18px Georgia;
  line-height: 40px;
  vertical-align: middle;
  background:#cfcfcf;
  -webkit-animation: width 5s ease 1 forwards;
  -moz-animation: width 5s ease 1 forwards;
  -o-animation: width 5s ease 1 forwards;
}

/* ========= Alert Page ======================*/
.content {
  padding-top: 15px;
  background-color: #efeff0;
}

.details {
  padding: 3% 1%;
  position: relative;
  background-color: #fff;
}

.details > section > h3 {
  font-size: 15px;
  font-weight: 600;
}

.alert_type {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}

.alert_name {
  width: 40%;
  margin-left: 3%;
  display: inline-block;
  vertical-align: top;
}

#alert_name {
  width: 73%;
  padding: 2%;
  margin: 0%;
}

.add_alert {
  width: 20%;
  display: inline-block;
  vertical-align: bottom;
}

.add_alert > label { display: block; }
#checkbox { width: 19%; }

#btn_add_alert {
  padding: 5%;
  border: none;
  border-radius: 5px;
  float: right;
  background-color: #4c4c4c;
  color: #fff;
}

#threshold {
  width: 45%;
  padding: 2%;
}

.contact { background-color: #efeff0; }

#alert_type{
  width: 94%;
  padding: 2% 0%;
  display: block;
  background-color: #fff;
  font-size: 11px;
 }

.contact ul {
  box-sizing: border-box;
  width: 100%;
  padding: 6%;
  display: block;
  background-color: #fff;
  list-style: none;
 }

.contact ul li {
  width: 100%;
  display: block;
  padding: 4% 0 2% 0;
  border-bottom: 1px solid #d8d8d8;
 }

.contact ul li:last-child { border: none; }

.social {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px 0;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  background-color: #4c4c4c;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
 }

.info {
  width: 84%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  color: #4c4c4c;
 }

.info h4 > a {
  color: #131313;
  font-weight: 600;
  text-decoration: none;
}

.info p > a {
  color: #5794e5;
  text-decoration: none;
}

section li > span:first-child:after {
  width: 78%;
  height: 1px;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  position: relative;
  background: none repeat scroll 0 0 #d0d0d0;
  bottom: 4px;
  content: "";
}

section li > span:last-child { color: #d0d0d0; }

section input {
  width: 30%;
  padding: 1%;
  margin: 2% 1% 1% 0%;
  font-size: 11px;
}

section ul {
  width: 100%;
  list-style: none;
}

section select {
  width: 18%;
  padding: 0.8%;
  margin: 1%;
  background-color: #fff;
}

section li a + select {
  width: 33%;
  padding: 1%;
  border: 1px dashed #d0d0d0;
  margin: 2% 1% 1% 0%;
  background-color: #fff;
  font-size: 11px;
}

select + a {
  width: 6%;
  display: inline-block;
}

select + span {
  width: 28px;
  height: 15px;
  margin: 0 1% 0 2%;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
  background-color: #44db5e;
}

select + span > span {
  width: 13px;
  height: 15px;
  margin-right: 1px;
  float: right;
  border-radius: 50%;
  background-color: #fff;
}

section a > img { width: 100%; }

section span + a {
  padding: 1% 2%;
  border-radius: 15px;
  background-color: #efeff0;
  color: #000;
  text-decoration: none;
}

.save input {
  width: 15%;
  padding: 10px 2%;
  float: right;
  border: none;
  border-radius: 5px;
  background-color: #4c4c4c;
  color: #fff;
  text-decoration: none;
}

.advertise {
  width: 100%;
  margin: 5% 0%;
}

.advertise > img { width: 100%; }

/* ========= Manage Account Page ======================*/

#map { height: 400px; }

.location {
  padding: 3%;
  position: relative;
  background-color: #fff;
}

.location > a {
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #ce000c;
  color: #fff;
  text-decoration: none;
}

.manage-account .details > section p + i {
  position: absolute;
  top: 64px;
  right: -15px;
  color: #666;
  cursor: pointer;
}

.manage-account .advertise { position: relative; }

.manage-account .advertise p {
  padding: 10px 3%;
  position: absolute;
  bottom: 0;
  font-size: 11px;
  line-height: 13px;
}

.manage-account .advertise p span {
  color: #ce000c;
  font-weight: 700;
}

.manage-account .advertise p:first-child {
  top: 0;
  bottom: initial;
  font-size: 13px;
  text-align: center;
}

.manage-account .details i {
  margin-right: 4%;
  color: red;
}

.manage-account .row  > .col-sm-4 > p {
  width: 66%;
    padding: 13% 14%;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.manage-account .row  > .col-sm-4 > p > span {
  font-size: 42px;
  text-align: center;
}

.manage-account .row > .col-sm-4 { margin-top: 3.3%; }
.manage-account .fa-commenting-o { color: red; }
.manage-account .language { margin-top: 6%; }


.manage-account .language label {
  display: inline;
  font-size: 12px;
  font-weight: bold;
}

.manage-account .language select {
  display: inherit;
  margin-left: 8%;
  outline: none;
  border-style: none;
  width: 59%;
  font-size: 12px;
}

.manage-account .form-group label {
  display: inherit;
  font-size: 11px;
  font-weight: 600;
}

.manage-account .form-group span {
  margin-left: 9%;
  font-size: 11px;
}

.manage-account .localdate input[type="text"]:nth-child(2) {
  width: 17%;
  padding: 3%;
  font-size: 10px;
  text-align: center;
}

.manage-account .localdate input[type="text"]:nth-child(3) {
  width: 17%;
  padding: 3%;
  font-size: 10px;
  text-align: center;
}

.manage-account .localdate input[type="text"]:nth-child(4) {
  width: 23%;
  padding: 3%;
  font-size: 10px;
  text-align: center;
}

.manage-account .switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  overflow: hidden;
}

.manage-account .switch-title { margin-bottom: 6px; }

.manage-account .switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.manage-account .switch-field label { float: left; }

.manage-account .switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.manage-account .switch-field label:hover { cursor: pointer; }

.manage-account .switch-field input:checked + label {
  display: inline-flex;
  background-color: #595959;
  color: white;
  box-shadow: none;
}


.manage-account .manage-account .switch-field label i { color: white; }

.manage-account .switch-field label:first-of-type {
  padding: 3%;
  display: inline-flex;
  border-radius: 4px 0 0 4px;
  font-size: 10px;
}

.manage-account .switch-field label:last-of-type {
  padding: 3%;
  display: inline-flex;
  border-radius: 0 4px 4px 0;
  font-size: 10px;
}


.manage-account .form-group input[type="checkbox"] {
  width: 3%;
  display: inline-block;
}

.manage-account .form-group input[type="checkbox"]+label {
  display: inline-block;
  color: #999999;
  font-size: 10px;
  font-weight: normal;
  vertical-align: text-top;
}

.manage-account .form-group input[type="submit"]{
  width: 15%;
  float: right;
  background-color: #595959;
  color: white;
  border-style: none;
}

.manage-account .milestone p {
  width: 54%;
  font-family: Arial;
  text-align: center;
}

.manage-account .milestone span {
  font-size: 45px;
  font-family: Arial;
}

.manage-account .progress {
  width: 90%;
  height: 27px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.manage-account .progress-bar {
  color: white;
  font: 18px Georgia;
  line-height: 40px;
  vertical-align: middle;
  background: #6fc1b3;;
  -webkit-animation: width 5s ease 1 forwards;
  -moz-animation: width 5s ease 1 forwards;
  -o-animation: width 5s ease 1 forwards;
}

.manage-account .progress + p > a {
  color: red;
  font-size: 11px;
  text-decoration: underline;
}

.manage-account .threshold {
  margin-top: 20%;
  text-align: center;
}

.manage-account .threshold .form-group { display: inline-block; }

.manage-account .threshold p {
  display: inline-block;
  font-size: 12px;
}

.manage-account .threshold input {
  width: 60%;
  padding: 2%;
  display: inline-block;
  vertical-align: middle;
}

.manage-account .threshold i {
  padding: 6px 15px;
  margin-left: -7px;
  display: inline-block;
  background-color: gray;
  color: white;
}

.manage-account address {
  width: 49%;
  margin-left: 7%;
  font-size: 11px;
}

.manage-account .bottom-border {
  padding-bottom: 2%;
  border-bottom: 1px solid #eee;
}

.manage-account .edit {
  width: 100%;
  padding: 3px 5px;
  border: 1px solid;
  margin-top: 4px;
  display: block;
}

/* ==========================================================================
    Footer
   ========================================================================== */
footer {
  padding: 1.5% 0;
  font-size: 11px;
}